<!DOCTYPE html> 
<html> 
  <head> 
  <title>OcUK Mobile</title>
  <link rel="stylesheet" href="jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
  <script type="text/javascript" src="jquery.mobile-1.0a4.1/jquery.mobile-1.0a4.1.js"></script>
  <script>
    function go_to_page(id)
    {
    var page = prompt("Page?")
    if (page != null && page != "")
      {
        window.location = "/#/thread/" + id + "/page/" + page
      }
    }
  </script>
  <style>
    .ui-page { background: #003366;}
    .ui-mobile #forumlogo { text-align: center }
  </style>  
</head>
